<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="LandingPageTest">
    <classes>
      <class name="com.crm.testcases.LandingPageTest"/>
    </classes>
  </test> <!-- Test -->
    <test name="LoginPageTest">
    <classes>
      <class name="com.crm.testcases.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
    <test name="HomePageTest">
    <classes>
      <class name="com.crm.testcases.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
